#content.content {
    position: fixed;
    left: 10px;
    top: 0px;
    z-index: 9999;
    text-align: center;
  }
  #content, #canvas {
    position: relative;
    width: 100%;
    min-height: 822px;
    background: whitesmoke;
    overflow: auto;
    transform-origin: top left;
  }
  #rangeNums {
    width: 20px;
    position: fixed;
    height: 99px;
    font-size: 12px;
    display: block;
    top: 75px;
    left: 241px;
  }
  #rangeNums .item {
    display: block;
    position: absolute;
  }
  #rangeNums .item.f {
    top: -5px;
  }
  #rangeNums .item.s {
    top: 34px;
  }
  #rangeNums .item.t {
    top: 93px;
  }
  #rangeNums .line {
    display: inline-block;
    width: 10px;
    height: 2px;
    background: darkred;
    position: absolute;
    top: 4px;
    right: 28px;
  }
  #rangeNums .f .line {
    right: 30px;
  }
  .slide {
    position: fixed;
    top: 69px;
    left: 226px;
    z-index: 11;
    user-select: none;
    font-size:14px;
    /* transform: rotate(90deg); */
    width: 24px;
    height: 132px;
    background: #eee;
    border: 1px solid #cdcdcd;
  }
  .screen {
    position: fixed;
    opacity:0.2;
    right: 10px;
    top:10px;
    cursor: pointer;
  }
  .screen:hover {
    opacity:0.8;
  }
  .screen img {
    width: 30px;
    height: 30px;
  }
  #vol {
    margin-left: 10px; 
    transform: rotate(90deg);
  }
  .ctrl {
    width: 16px;
    height: 16px;
    right: 4px;
  }
  .ctrl.zoom {
    position: absolute;
    top: 5px;
  }
  .ctrl.zoomOut {
    position: absolute;
    top: 110px;
  }
  .slider {
    -webkit-appearance: none;
    width: 79px;
    height: 3px;
    background: #aaa;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    position: absolute;
    left: -38px;
    top: 63px;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    border:1px solid #aaa;
  }
  
  .slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #fff;
    border:1px solid green;
    cursor: pointer;
  }
  .disScale::-webkit-slider-thumb {
    background: yellowgreen !important;
    border:1px solid green;
  }
  .disScale::-moz-range-thumb {
    background: yellowgreen !important;
    border:1px solid green;
  }
  
  img {
    /* border:1px solid transparent; */
  }
  .comp-item {
    cursor: move;
    z-index: 1;
    user-select: none;
  }
  .comp-element img {
    z-index: -1;
  }
  .multipleActive {
    border:1px solid red ;
  }
  .comp-item .active {
    border:1px solid rgba(225,0,00,0.8);
    z-index: 10;
  }
  .comp-item .comp-room {
    z-index: 0;
  }
  .comp-item .comp-room.active {
    border:4px solid white;
    z-index: 0;
    box-shadow: 1px 0px 8px 0px rgba(255,0,0,0.6);
  }
  .comp-device {
    background: yellowgreen;
  }
  .comp-device.isShadow {
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.4)
  }
  
  #canvas {
    width: 2980px;
    height: 1440px;
    background: #eeeeee;
    transform-origin: top left;
    /* background-size: contain !important;
    background-repeat: no-repeat !important; */
  }
  #canvas.other {
    background-repeat: no-repeat !important;
    background-size: 1920px 1080px;
  }
  #canvas.grid {
      background-image: linear-gradient(rgba(200,205,208,.3) 1px,transparent 0),
                        linear-gradient(90deg,rgba(200,205,208,.3),1px,transparent 0),
                        linear-gradient(#c8cdd0 1px,transparent 0),
                        linear-gradient(90deg,      #c8cdd0 1px,transparent 0);
      background-size: 20px 20px,20px 20px,100px 100px,100px 100px;
  }
  #canvas.floor {
    background:url("./../../assets/icon/floor3.png")
  }
  .control {
    position: fixed;
    bottom: 100px;
    right: 30px;
  }
  .control .del {
    cursor: pointer;
    width: 30px;
    height: 30px;
    opacity: 0.7;
    padding: 5px;
    border-radius: 50%;
    background: #dddddd;
  }
  .control .del:hover {
    opacity: 1;
    box-shadow: 0px 0px 10px red;
  }
  .delDef {
    opacity: 0.3;
  }
  .comp-img.isShadow {
    box-shadow: -1px 1px 10px 5px rgba(0,0,0,0.3);
  }
  .comp-line_colu {
    width: 7px;
    background: #ffffff;
  }
  .comp-line_colu.isShadow {
    box-shadow: 0px 0px 14px -1px rgba(0,0,0,1);
  }
  .comp-line_row {
    height: 7px;
    background: #ffffff;
  }
  .comp-line_row.isShadow {
    box-shadow: 0px 0px 14px -1px rgba(0,0,0,1);
  }
  .comp-pillar {
    width: 15px;
    height: 15px;
    background: #fff;
    z-index: 12;
  }
  .comp-pillar-shadow.isShadow {
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
  }
  .comp-room {
    border: 6px solid #ffffff;
  }
  .comp-room.isShadow {
    box-shadow: 1px 0px 8px 0px rgba(0,0,0,0.6);
  }
  .comp-room-inset {
    display: inline-block;
  }
  .comp-room-inset.isShadow {
    box-shadow: inset 0px 0px 26px -11px rgba(13,13,13,0.8);
  }
  .assist span {	
    position: absolute;	
    width: 6px;	
    height: 6px;	
    border:1px solid red;	
    display: inline;	
    background: #fff;	
  }	
  .assist .trans {	
    width: 22px;	
    height: 22px;	
    border:none;	
    background: transparent;	
    border-radius: 50%;	
    cursor: pointer;	
  }	
  .assist .trans img {	
    width: 22px;	
    height: 22px;	
  }	
  .adR, .adL {	
    cursor: ew-resize;	
  }	
  .adT, .adB {	
    cursor: ns-resize;	
  }
  .comp-text {
    text-align: center;
    font-size: 14px;
    color: #4f4f4f;
  }