#settings {
    position: relative;
    /* background: #eee; */
    min-height: 820px;
    overflow-y: scroll;
    padding: 0px;
    border: 1px solid #eeeeee;
    user-select:none;
    min-width: 230px;
  }
  
  .setting-config {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      margin-left: 10px;
      font-size: 16px;
      height: 60px;
      background: #fff;
      z-index: 1000;
      border-bottom: 1px solid #cccccc;

  }
  .baseMap {
    color: #999;
    font-size: 18px;
    display: inline-block;
    width: 100px;
    position: absolute;
    top: 18px;
  }
  .config-item{
    height: 60px;
    width: 300px;
    user-select: none;
  }
  .setting-element {
    position: absolute;
    height: 100%;
    width: 220px;
    overflow-y: scroll;
    display: inline-block;
    overflow-x: hidden;
  }
  
  .icon {
    width: 26px;
    height: 26px;
    display: inline-block;
    padding: 10px 5px;
    margin-top: 9px;
  }
  .config-item.bg {
    position: absolute;
    top: 0px;
    font-size: 14px;
    width: 130px;
    left: 200px;
  }
  .bg .name {
    position: absolute;
    right: 120px;
    top: 19px;
    color:#2c3e50;
    width: 50px;
  }
  .bg .bgs {
    width: 215px;
    display: inline-block;
    height: 60px;
  }
  .bg .bg-item {
    cursor: pointer;
    width: 22px;
    height: 22px;
    padding: 17px 2px;
  }
  .bg .baseMapImgUrl {
      padding: 2px 5px;
      width: 140px;
      display: inline-block;
      margin-top: 15px;
      margin-left: 10px;
      display: -webkit-inline-box;
      position: absolute;
  }
  .aligins {
    position: absolute;
    right: 505px;
    top:0px;
    cursor: pointer;
  }
  .aligin {
    width: 610px;
    margin-top: 15px;
    display: grid;
    margin-left: 40px;
    text-align: center;
    grid-template-columns:50px 130px 130px 35px 35px 35px 35px;
  }
  .aligin-item  {
    cursor: pointer;
    position: relative;
    margin-top: 5px;
  }
  .aligin-item img:hover {
    color: red;
  }
  .aligin-item.screen {
    z-index: 9999;
    position: fixed;
    right: 18px;
    top: 16px;
   
  }
  .contrls {
    z-index: 9999;
    position: absolute;
    right: 80px;
    text-align: center;
    width: 100px;
    height: 59px;
    top: -4px;
    border-right:1px solid #cccccc;
  }
  .contrls img {
    margin: 20px 10px ;
  }
  .aligin-item label {
      padding: 2px 0px;
      font-size: 12px;
      position: absolute;
      top: 0px;
      left: 0;
  }
  .aligin-item  input {
    width: 40px;
    padding: 2px 4px;
  }
  .aligin-item img {
    width: 22px;
    height: 22px;
    background: #fff;
  }
  .aligin-item .img {
    position: absolute;
    right: 10px;
  }
  .item {
    padding: 10px;
    padding-bottom: 0px;
    min-height: 30px;
    line-height: 30px;
    position: relative;
  }
  .item .name {
    border-left: 5px solid #ccc;
    padding: 10px;
    position: absolute;
    left: 0px;
    top:0px;
    width: 90%;
    border-bottom: 1px dashed #cccccc;
  }
  .muls-list{
    font-size: 14px;
    padding-left: 10px;
    border-left: 2px solid #ccc;
    border-bottom:1px dashed #cccccc;
  }
  .item .nums { 
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 14px;
    color:#aaa;
    overflow-y: auto;
    height: 479px;
  
  }
  .nums .val {
    color:#3370FF;
    padding: 5px;
  }
  .title {
    font-size: 16px;
    color: #777777;
    height: 40px;
    line-height: 40px;
  }
  .sub {
    margin: 50px;
  }
  .grid {
    display: grid;
  }
  .grid-1 {
    grid-template-columns: 100%;
  } 
  .grid-1 .subs-item {
    display: grid;
    grid-template-columns: 40px 40%;
  }
  .grid-1 .subs-item .lab {
    width: 40px;
  }
  .grid-1-1 .subs-item{
    display: grid;
    grid-template-columns: 40px 70%;
  }
  .grid-2 {
    grid-template-columns: 50% 50%;
  }
  
  .grid-1 .lab,.grid-2 .lab {
    text-align: center;
    width: 25px;
    font-size: 14px;
    display: inline-block;
    color:#aaa;
  }
  .grid-1 .val ,.grid-2 .val {
    width: 50px;
    padding: 2px 4px;
    height: 16px;
  }
  .val-cb {
    margin: 10px;
  }
  .val-s {
    width: 170px;
    padding: 5px 10px;
    margin: 5px;
  }
  .del-item {
    text-align: center;
  }
  .del {
      position: relative;
      top: 10px;
      width: 25px;
      cursor: pointer;
      border-radius: 50%;
      padding: 5px;
  }
  .del:hover {
    box-shadow: 0px 0px 10px #ccc;
  }
  #download {
    position: absolute;
    right: 50px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    top: 15px;
  }
  .muls-item {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #ccc;
  }
  .ele-index {
    display: inline-block;
    width: 40px;
    text-align: center;
  }
  .ele-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 15px;
  }
  .ele-name {
    width: 100px;
    height: 30px;
    color: #888;
  }
  .ele-name:hover {
    color: #555;
  }
  .ele-del {
    opacity: 0.5;
    width: 25px;
    position: absolute;
    right: 10px;
    top: 2px;
  }
  .cols {
    padding: 5px;
    height: 53px;
  }
  .col-item {
      width: 20px;
      height: 20px;
      display: inline-block;
      background: red;
      cursor: pointer;
      margin: 1px;
  }
  .subs-item.full {
   grid-template-columns: 40px 80%;
  }
  .full .active {
    margin: 0;
    border:1px solid #eeeeee;
  }
  